In [42]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [43]:
df=pd.read_csv("dataset\\brain_stroke.csv")
df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1

In [44]:
df['gender']=df['gender'].map({'Male':1,'Female':0})
df['ever_married']=df['ever_married'].map({'No':0,'Yes':1})
df['work_type']=df['work_type'].map({'Govt_job':0,'Private':1,'Self-employed':2,'children':3})
df['Residence_type']=df['Residence_type'].map({'Rural':0,'Urban':1})
df['smoking_status']=df['smoking_status'].map({'formerly smoked':0,'never smoked':1,'smokes':2,'Unknown':3})

In [45]:
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,1,1,1,228.69,36.6,0,1
1,1,80.0,0,1,1,1,0,105.92,32.5,1,1
2,0,49.0,0,0,1,1,1,171.23,34.4,2,1
3,0,79.0,1,0,1,2,0,174.12,24.0,1,1
4,1,81.0,0,0,1,1,1,186.21,29.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
4976,1,41.0,0,0,0,1,0,70.15,29.8,0,0
4977,1,40.0,0,0,1,1,1,191.15,31.1,2,0
4978,0,45.0,1,0,1,0,0,95.02,31.8,2,0
4979,1,40.0,0,0,1,1,0,83.94,30.0,2,0
4980,0,80.0,1,0,1,1,1,83.75,29.1,1,0

In [46]:

X=df[['gender','age','hypertension','heart_disease','ever_married','work_type','Residence_type','avg_glucose_level','bmi','smoking_status']]
y=df[['stroke']]

In [47]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [48]:
y_train['stroke'].unique()

array([0, 1], dtype=int64)

In [49]:
y_test['stroke'].unique()

array([0, 1], dtype=int64)

In [50]:
    rfc = RandomForestClassifier(n_estimators=100)  
    rfc.fit(X_train, y_train)
    prediction=rfc.predict(X_test)
    ranacc=accuracy_score(y_test, prediction)*100
    ranacc

C:\Users\gkvte\AppData\Local\Temp\ipykernel_4544\887327722.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfc.fit(X_train, y_train)

95.58676028084253

In [51]:
    model = AdaBoostClassifier()  
    model.fit(X_train, y_train)
    predi=model.predict(X_test)
    adacc=accuracy_score(y_test, predi)*100
    adacc

C:\Users\gkvte\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

95.98796389167502

In [53]:
p=rfc.predict([[1,67.0,0,1,1,1,1,228.69,36.6,0]])

p[0]

C:\Users\gkvte\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

1

In [54]:
pp=rfc.predict([[1	41.0	0	0	0,1,0,70.15,29.8,0]])
pp[0]

C:\Users\gkvte\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

0